<div>
  <%= link_to "Nolan Borzoni", root_path %>
  <div>
    <ul>
      <%= link_to "About Me", about_index_path %>
      <a href="">My Work</a>
      <%= link_to "Blog", articles_path %>
    </ul>
  </div>
</div>