<div>
  <section>
    <div class="border-t-2 border-black pt-6 mt-6 first:mt-0 first:pt-0 first:border-t-0">
      <div class="flex flex-col md:flex-row gap-2 font-mono">
        <div class="md:w-2/5 flex-shrink-0 flex items-center">
          <%= image_tag "projectsample.png", alt: "Project Screenshot", class: "w-full h-auto border-2 border-black" %>
        </div>
        
        <div class="md:w-3/5">
          <h2 class="text-2xl font-bold mb-4 text-center md:text-left">Portfolio Page</h2>
          <p class="mb-4 text-left">
            Lorem lips ursarum del loro rati ra faerueisej lips ursarum del loro rati ra faerueisej 
            lips ursarum del loro rati ra faerueisej lips ursarum del loro rati ra faerueisej 
            lips ursarum del loro rati ra faerueisej
          </p>
          <p class="text-left font-bold">Tech stack: React, TypeScript, JavaScript, Tailwindcss, Heroku</p>
        </div>
      </div>
    </div>
    <div class="border-t-2 border-black pt-6 mt-6 first:mt-0 first:pt-0 first:border-t-0">
      <div class="flex flex-col md:flex-row gap-2 font-mono">
        <div class="md:w-2/5 flex-shrink-0 flex items-center">
          <%= image_tag "projectsample.png", alt: "Project Screenshot", class: "w-full h-auto border-2 border-black" %>
        </div>
        
        <div class="md:w-3/5">
          <h2 class="text-2xl font-bold mb-4 text-center md:text-left">Portfolio Page</h2>
          <p class="mb-4 text-left">
            Lorem lips ursarum del loro rati ra faerueisej lips ursarum del loro rati ra faerueisej 
            lips ursarum del loro rati ra faerueisej lips ursarum del loro rati ra faerueisej 
            lips ursarum del loro rati ra faerueisej
          </p>
          <p class="text-left font-bold">Tech stack: React, TypeScript, JavaScript, Tailwindcss, Heroku</p>
        </div>
      </div>
    </div>
    <div class="border-t-2 border-black pt-6 mt-6 first:mt-0 first:pt-0 first:border-t-0">
      <div class="flex flex-col md:flex-row gap-2 font-mono">
        <div class="md:w-2/5 flex-shrink-0 flex items-center">
          <%= image_tag "projectsample.png", alt: "Project Screenshot", class: "w-full h-auto border-2 border-black" %>
        </div>
        
        <div class="md:w-3/5">
          <h2 class="text-2xl font-bold mb-4 text-center md:text-left">Portfolio Page</h2>
          <p class="mb-4 text-left">
            Lorem lips ursarum del loro rati ra faerueisej lips ursarum del loro rati ra faerueisej 
            lips ursarum del loro rati ra faerueisej lips ursarum del loro rati ra faerueisej 
            lips ursarum del loro rati ra faerueisej
          </p>
          <p class="text-left font-bold">Tech stack: React, TypeScript, JavaScript, Tailwindcss, Heroku</p>
        </div>
      </div>
    </div>
    <div class="border-t-2 border-black pt-6 mt-6 first:mt-0 first:pt-0 first:border-t-0">
      <div class="flex flex-col md:flex-row gap-2 font-mono">
        <div class="md:w-2/5 flex-shrink-0 flex items-center">
          <%= image_tag "projectsample.png", alt: "Project Screenshot", class: "w-full h-auto border-2 border-black" %>
        </div>
        
        <div class="md:w-3/5">
          <h2 class="text-2xl font-bold mb-4 text-center md:text-left">Portfolio Page</h2>
          <p class="mb-4 text-left">
            Lorem lips ursarum del loro rati ra faerueisej lips ursarum del loro rati ra faerueisej 
            lips ursarum del loro rati ra faerueisej lips ursarum del loro rati ra faerueisej 
            lips ursarum del loro rati ra faerueisej
          </p>
          <p class="text-left font-bold">Tech stack: React, TypeScript, JavaScript, Tailwindcss, Heroku</p>
        </div>
      </div>
    </div>
  </section>
</div>
