<div class=" bg-white text-black leading-relaxed max-w-3xl mx-auto p-5">
  <header class="flex items-center justify-center mb-10 pb-5 border-b-2 border-black">
    <h1 class="text-4xl uppercase font-bold tracking-tight">ABOUT ME</h1>
  </header>
  
  <section class="mb-10">
    <p class="mb-4">
      My name is Nolan Borzoni, I'm a Software Engineer living in Hakodate, Japan.
      I grew up in the Salt Lake City, Utah area, and upon graduating from High school, served
      a 2 year mission in the Four Corners area for the Church of Jesus Christ of Latter-day Saints. 
      After coming home, I attended and graduated from the University
      of Utah in 2021 with a Bachelors of Arts in Japanese. With my eyes set on trying out life
      in Japan, I applied, and was accepted to, the JET (Japan Exchange Teaching) Program,
      and spent 2 years in the deep inaka of Hokkaido teaching English. Towards the end of my tenure,
      I met and married my wonderful wife, and have since relocated to Hakodate to continue teaching.
    </p>
    <p class="mb-4">
      In March of 2024, I decided to make a career shift towards software engineering. I discovered an
      open-source, comprehensive full-stack curriculum called 'the Odin Project', and have worked on it
      rigorously to prepare myself for a job. I learned and gained experience in Ruby, JavaScript, Rails,
      and React.
    </p>
  
    <p class="mb-4">
      My aspirations as a software engineer is to create applications which serve people to increase 
      efficiency and solve problems. There's too much complication and headaches in the SWE space. My goal
      is to create thorough, intuitive, impossibly effective applications for people and businesses.
    </p>
  </section>
  
  <section class="mb-10">
    <h2 class="text-2xl uppercase mb-4 pb-1 border-b-2 border-black inline-block mx-auto text-center w-full">Current Interests</h2>
    <div class="grid grid-cols-2 gap-4 mb-4">
      <div class="bg-gray-100 p-3 text-center font-bold">Ruby on Rails</div>
      <div class="bg-gray-100 p-3 text-center font-bold">Golf</div>
      <div class="bg-gray-100 p-3 text-center font-bold">Basketball</div>
      <div class="bg-gray-100 p-3 text-center font-bold">Running</div>
      <div class="bg-gray-100 p-3 text-center font-bold">Yugioh! TCG</div>
      <div class="bg-gray-100 p-3 text-center font-bold">Ancient Rome</div>
    </div>
  </section>
  
  <section class="mb-10">
    <h2 class="text-2xl uppercase mb-4 pb-1 border-b-2 border-black inline-block mx-auto text-center w-full">Contact me</h2>
    <p class="mb-4 text-center">Feel free to reach out to me about anything at all!</p>
    <div class="flex flex-wrap justify-center gap-6 md:flex-row">
      <a href="mailto:nolanrborozni@gmail.com" class=" hover:bg-black hover:text-white transition-colors duration-200 py-1">
        nolanrborzoni@gmail.com
      </a>
      <a href="www.linkedin.com/in/nolan-borzoni-84228b348" class=" hover:bg-black hover:text-white transition-colors duration-200 py-1">
        LinkedIn
      </a>
      <a href="https://x.com/borzoni25" class=" hover:bg-black hover:text-white transition-colors duration-200 py-1">
        X
      </a>
      <a href="https://github.com/nolanborz" class=" hover:bg-black hover:text-white transition-colors duration-200 py-1">
        GitHub
      </a>
    </div>
  </section>
</div>